.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* .swiper{
  padding-top: 40px !important;
}
.swiper-button-next, .swiper-button-prev{
  top: 25px !important;
  z-index: 20 !important;
  background-color: rgb(208, 205, 205);
  padding: 17px 32px !important;
  
}
.swiper-button-prev{
  right: 100px !important;
  left: auto !important;
  background-image: url('assets/images/left-arrow.png');
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
